{% extends "my_router/router_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}
  {% trans "List of Protocol control" %}
{% endblock %}

{% block header_extra %}
  {% include "datatables-header.html" %}
{% endblock %}

{% block content %}
  <h1>{% trans "List of Protocol control" %}</h1>

  <div style="margin-bottom: 15px;">
    <a class="btn btn-default"
     href="{% url "acl_l7-edit" router_id -1 %}{% if filter_mac_groups %}?mac_group={{ filter_mac_groups }}{% endif %}">{% trans "Add Protocol control" %}</a>
    <a class="btn btn-default"
     href="{{ router_protocol_control_url }}" target="_blank">{% trans "Edit Protocol control selection on router" %}</a>
    {% if router_mac_control_url %}
      <a class="btn btn-default"
       href="{{ router_mac_control_url }}" target="_blank">{% trans "Edit MAC control on router" %}</a>
    {% endif %}
  </div>
  <div>
    {% for mac_group_name in mac_group_names %}
      <a class="btn btn-default" href="{% url "acl_l7-list" router_id %}?mac_group={{ mac_group_name }}">{{ mac_group_name }}</a>
    {% endfor %}
    <a class="btn btn-success" href="{% url "acl_l7-list" router_id %}">{% trans "All MAC groups" %}</a>
  </div>

  <table class="table table-striped protocol_control-all">
    <thead>
    <th class="datacol">{% trans "ID" %}</th>
    <th class="datacol">{% trans "Name" %}</th>
    <th class="datacol">{% trans "Protocol control" %}</th>
    <th class="datacol">{% trans "How" %}</th>
    <th class="datacol">{% trans "Actions" %}</th>
    <th class="datacol">{% trans "Enabled" %}</th>
    <th class="datacol">{% trans "Priority" %}</th>
    <th class="datacol">{% trans "Apply to" %}</th>
    <th class="datacol">{% trans "Mon" %}</th>
    <th class="datacol">{% trans "Tue" %}</th>
    <th class="datacol">{% trans "Wed" %}</th>
    <th class="datacol">{% trans "Thu" %}</th>
    <th class="datacol">{% trans "Fri" %}</th>
    <th class="datacol">{% trans "Sat" %}</th>
    <th class="datacol">{% trans "Sun" %}</th>
    <th class="datacol">{% trans "Start time" %}</th>
    <th class="datacol">{% trans "End time" %}</th>
    </thead>
  </table>
{% endblock %}

{% block page_bottom_javascript_extra %}

  {% get_current_js_lang_name as LANG %}
  <script type="text/javascript">
    var tbl = $("table.protocol_control-all").DataTable({
      "ajax": {
        "url": '{% url "fetch-cached-info" router_id "acl_l7" %}{% if filter_mac_groups %}?mac_group={{ filter_mac_groups }}{% endif %}',
        "dataSrc": ""
      },
      "columns": [
        {"data": "id"},
        {"data": "comment"},
        {"data": "app_proto"},
        {"data": "action"},
        {
          "data": "edit-url",
          "render": function (data, type, row, meta) {
            if (type === 'display') {
              return "<a class='btn btn-default btn-sm' href='" + data + "{% if filter_mac_groups %}?mac_group={{ filter_mac_groups }}{% endif %}'> {% trans 'Edit' %} </a>" +
                "<button class='btn btn-danger btn-sm remove-item' data-url='" + row["delete-url"] + "' onclick='removeItem(event);'> {% trans 'Delete' %} </button>"
            }
            return data;
          }
        },
        {
          "data": "enabled",
          "render": function (data, type, row) {
            if (type === 'display') {
              return data ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
            }
            return data
          }
        },
        {"data": "prio"},
        {
          "data": "apply_to", "render": function (data) {
            return data.join(", ");
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('mon') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('tue') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('wed') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('thu') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('fri') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('sat') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {
          "data": "days", "render": function (data) {
            return data.includes('sun') ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
          }
        },
        {"data": "start_time"},
        {"data": "end_time"},
      ],
      rowCallback: function (row, data, index) {
        if (data["enabled"] === false) {
          $(row).css('background-color', 'lightgrey');
        }
        else {
          if (data["action"] === "drop") {
            $(row).css('background-color', '#ffc6cc');
          } else if (data["action"] === "accept") {
            $(row).css('background-color', '#c4ffca');
          }
        }
      },
      "scrollCollapse": true,
      "paging": false,
      "ordering": true,
      "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
      "order": [[5, 'desc'], [6, 'asc']]
    });

  </script>
  {{ block.super }}
{% endblock %}
