**/.env
.git
**/*.pyc
**/local_settings.py
**/.gitignore
**/*.log
**/*.ipynb
**/*.yml
**/*.yaml
**/setup.cfg
**/Dockerfile
**/.ipynb_checkpoints/
**/.github/
**/tests/
**/.pytest_cache/
**/*.sqlite3
**/package.json
**/package-lock.json
**/htmlcov/
**/.coverage
**/coverage.xml
**/*.base
**/django.po

